.chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.value {
  display: table-cell;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.label {
  position: relative;
  bottom: 30%
  left: 50%;
  transform: translate(-50%);
  transform: rotate(45deg);
  transform-origin: left top;
}

.bar {
  position: relative;
  float: left;

}

.orange {
  background: orange;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}
