.chart {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.value {
  display: inline-block;
  vertical-align: -310px;
}

.label {

}

.bar {
  float: left;
  text-align: center;
}

.orange {
  background: orange;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}
