.chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 20px;
}

.value {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.label {
  position: absolute;
  right: 50%;
  transform: rotate(-45deg);
  transform-origin: right;
}

.bar {
  position: relative;
  float: left;

}

.orange {
  background: orange;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}

.black {
  background: black;
}

.white {
  background: white;
}
